<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Préparer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Selectionnez vos critères</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label>Enseigne</ion-label>
                <ion-select [(ngModel)]="supermarketSelected">
                  <ion-select-option *ngFor="let superMarket of supermarketList" [value]="superMarket.id">
                    {{superMarket.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label>Categorie</ion-label>
                <ion-select [(ngModel)]="supermarketSelected" (ionChange)=setProductSelected()>
                  <ion-select-option *ngFor="let product of productList" [value]="product.id">
                    {{product.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
